header {
    background-image: radial-gradient(circle at 19.07% 47.29%, #ffffff 0, #ffffff 12.5%, #faffff 25%, #d8f0fa 37.5%, #b5def2 50%, #92cbeb 62.5%, #72b9e5 75%, #54a8e0 87.5%, #3798dc 100%);
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

